.collection{
    display: block;
    .women-collection{
        margin-left: 20% !important;
    }
    .header-collection-wraper{
     display: flex;
     justify-content: space-between;
     padding: 5px;
     gap: 10%;
    h4{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 20px;
       
    }
    h5{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: -190px;
        transition: transform .2s; 
        width: 7%;
        margin-top: 25px;

        &:hover{
            cursor: pointer;
            transform: scale(1.5);
            color: cadetblue;

         }  
        
    }
    .header-collection{
        width: 50%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 40px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        a{
            transition: transform .2s; 
            color: black;
         &:hover{
            cursor: pointer;
            transform: scale(1.5);
            color: cadetblue;

         }  
        }
    }
    }
    .collection-banner{
        width: 100%;
    }
    img{
        width: 100%;

    }
    .collection-search{
        input{
        width: -webkit-fill-available;
        height: 39px;
        border-radius: 30px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: -173px;
    }
}
    .card-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: transform .2s; /* Animation */
    .card{
       &:hover{
        transform: scale(1.3);
       }
    }
    }
}