@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.App {
  font-family: "Open Sans", sans-serif;
  text-align: center;


.mainInput {
  position: relative;
  margin-top: 10%;
  z-index: 1;
  img{
    margin-bottom: 20px;
    
  }
  .btn-start {
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    border: 1.5px solid rgb(252, 252, 250);
    height: 6vh;
    width: 20vw;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
}