.category-slider{ 
 display: block;
 .image-wraper{
 display: block;
    img{
       max-width: 95%;
       height: auto;
       margin-inline: auto;
       border-radius: 20px;
       position: relative
    }
    .heading{
      position:absolute;
      top: 35%;
      margin-left: 130px;
      font-size: 26px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #FFF;
      text-transform: uppercase;
    }
}
}
